{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set child = prototype %}
            {% set attr = attr|merge({'data-prototype': block('collection_widget_row'), 'data-prototype-name': prototype.vars.name, 'class': attr.class|default('') ~ ' controls' }) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form) }}
            {% for child in form %}
                {{ block('collection_widget_row') }}
            {% endfor %}
            {{ form_rest(form) }}
        {% if allow_add %}
            <div><a href="#" class="btn sonata-collection-add"><i class="icon-plus"></i>{{ 'add'|trans}} {{ prototype.vars.name|trans }}</a></div>
        {% endif %}
    {% endspaceless %}
{% endblock collection_widget %}

{% block collection_widget_row %}
    {% spaceless %}
        <div class="sonata-collection-row">
            {% if allow_delete %}
                <a href="#" class="btn sonata-collection-delete"><i class="icon-remove"></i></a>
            {% endif %}
            {{ form_errors(child) }}
            <div class="controls">
              {{ form_widget(child) }}
            </div>
            <hr>
        </div>
    {% endspaceless %}
{% endblock %}

{% block hall_position_widget %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock %}